
@font-face {
    font-family: AlibabaSans-Bold;
    src: url("font/AlibabaSans-Bold.otf") format("opentype");
    font-weight: bold;
    font-display: swap
}

@font-face {
    font-family: AlibabaSans-Medium;
    src: url("font/AlibabaSans-Medium.otf") format("opentype");
    font-weight: Medium;
    font-display: swap
}

@font-face {
    font-family: AlibabaSans-Regular;
    src: url("font/AlibabaSans-Regular.otf") format("opentype");
    font-weight: normal;
    font-display: swap
}
